*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('starter-code/assets/home/background-home-desktop.jpg');
    background-repeat: no-repeat;
    color: white;
    font-family:Barlow Condensed, sans-serif;
    letter-spacing: 1.6px;
}
header{
    display: flex;
    padding: 15px;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
    position: relative;
}
nav ul li {
    text-decoration: none;
    display: inline;
    margin-left: 50px;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: white;
}
nav ul{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-right: 100px;
}
nav ul li {
    position: relative;
    transition: color 0.3s ease-in-out;
}
nav ul li::after{
    content: "";
    position: absolute;
    left:50%;
    bottom: 0px;
    width: 0;
    height: 3px;
    background: rgba(255, 255, 255, 0.541);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
}
nav ul li:hover::after,
nav ul li:focus::after{
    width: 100%;
}
nav{
    height: 95px;
    background: hsla(0,0%,100%,.05);
    width: 750px;
    position: absolute;
    top:25px;
    right: 0;
}
header img{
    position: absolute;
    left:60px;
    top:50px;
}
header p {
    position: absolute;
    top:74px;
    left:140px;
    z-index: 1;
}
span{
    font-weight: 510;
    font-size: 19px;
    margin-right: 7px;
}
.sect1{
    padding: 180px;
    display: flex;
    gap:350px;
    padding-left: 200px;
}
.right{
    margin-top: 170px;
}
.hm{
    border-bottom: solid 3px white;
    line-height: 4.5;
    margin-top: -33px;
    z-index: 1;
}
